<mat-card class="pet-card" *ngFor="let pet of pets">
  <div class="image-container">
    <ng-container *ngIf="!pet.image_data; else elseTemplate">
      <img mat-card-image src="./../../assets/placeholder.png" alt="placeholder-image" class="card-image">
    </ng-container>

    <ng-template #elseTemplate>
      <img mat-card-image src="{{pet.image_data}}" alt="pet-image" class="card-image">
    </ng-template>

  </div>
  <div class="content-container">
    <mat-card-header class="card-header">
      <mat-card-title class="card-header__title">{{pet.name}}</mat-card-title>
      <mat-card-subtitle class="card-header__subtitle">{{pet.breed}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p class="card-content__par">{{"Вік: " + pet.age + " міс."}}</p>
      <p class="card-content__par">{{"Стать: " + pet.sex}}</p>
    </mat-card-content>
    <button mat-raised-button color="accent">Деталі</button>
  </div>
</mat-card>

<a mat-mini-fab routerLink="/adding" routerLinkActive="active" color="warn"
  class="float-button"
  [class.mat-elevation-z2]="!isOver"
  [class.mat-elevation-z8]="isOver"
  (mouseover)="isOver = true"
  (mouseleave)="isOver = false">
  <mat-icon>add</mat-icon></a>
