<div class="container">
  <!-- *ngIf="!post; else forminfo" novalidate -->
  <form [formGroup]="form" (ngSubmit)="submit()" class="form">

    <div class="img-space">
      <ng-container *ngIf="isImageSaved; else elseTemplate">
        <img [src]="imageBase64" alt="your image">
      </ng-container>

      <ng-template #elseTemplate>
        <img src="./../../assets/img-placeholder.png" alt="placeholder"
          class="img-responsive">
      </ng-template>
      <mat-error>{{ imageError }}</mat-error>
    </div>

    <div class="form-element">
      <input type="file" name="file" class="inputfile" accept="image/*" (change)="fileChangeEvent($event)" id="file">
      <label for="file">Додати фото</label>
    </div>

    <!-- Animal name -->
    <mat-form-field class="form-element">
      <input matInput placeholder="Кличка" formControlName="name">
      <mat-error *ngIf="form.get('name').invalid && form.get('name').touched">Має бути більше 3-х символів</mat-error>
    </mat-form-field>

    <!-- Kind of animal -->
    <mat-form-field class="form-element">
      <mat-select placeholder="*Найменування" formControlName="kindOfAnimal">
        <mat-option value="Собака">Собака</mat-option>
        <mat-option value="Кішка">Кішка</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('kindOfAnimal').invalid && form.get('kindOfAnimal').touched">Обов'язкове поле</mat-error>
    </mat-form-field>

    <!-- Age -->
    <mat-form-field class="form-element">
      <input matInput type="number" placeholder="Вік (міс.)" formControlName="age">
    </mat-form-field>

    <!-- Gender -->
    <mat-form-field class="form-element">
      <mat-select placeholder="Стать" formControlName="sex">
        <mat-option value="Самка">Самка</mat-option>
        <mat-option value="Самець">Самець</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Animal breed -->
    <mat-form-field class="form-element">
      <input matInput placeholder="Порода" formControlName="breed">
      <mat-error *ngIf="form.get('breed').invalid && form.get('breed').touched">Має
        бути більше 3-х символів</mat-error>
    </mat-form-field>

    <!-- Arrival date -->
    <mat-form-field class="form-element">
      <input matInput [matDatepicker]="picker" placeholder="*Дата прибуття" formControlName="dateOfEntry" readonly (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="form.get('dateOfEntry').invalid && form.get('dateOfEntry').touched">
        Обов'язкове поле</mat-error>
    </mat-form-field>

    <!-- weight -->
    <mat-form-field class="form-element">
      <input matInput type="number" placeholder="Вага (кг)" formControlName="weight">
    </mat-form-field>

    <!-- Animal wool -->
    <mat-form-field class="form-element">
      <input matInput placeholder="Шерсть" formControlName="wool">
      <mat-error *ngIf="form.get('wool').invalid && form.get('wool').touched">Має
        бути більше 3-х символів</mat-error>
    </mat-form-field>

    <!-- Animal color -->
    <mat-form-field class="form-element">
      <input matInput placeholder="Окрас" formControlName="color">
      <mat-error *ngIf="form.get('color').invalid && form.get('color').touched">Має
        бути більше 3-х символів</mat-error>
    </mat-form-field>

    <!-- Submite button -->
    <div class="form-element">
      <button mat-raised-button color="accent" type="submit" class="button" [disabled]="form.invalid" (click)="submit()">Додати Тварину</button>
    </div>
  </form>
</div>
